{% extends "App/index.html" %}
{% load static %}

{% block tituloPagina %}
About us
{% endblock %}

{% block contenido_que_cambia %}

<section class="bg-light py-2">
    <div class="container px-1">
        <div class="row gx-1 justify-content-center">    
<p>Carolina Swoboda: Soy Licenciada en Economía, tengo 37 años. Tengo un MBA (mater in bussiness administration). Hice cursos de Data Science, Data Analitycs y ahora estoy finalizando el curso de Python.</p>
<br>
<p>Felipe Aramburu García: Soy Contador Público, tengo 45 años. Hice cursos de Inversiones, Data Science, Data Analitycs y ahora estoy finalizando el curso de Python.</p>


{% endblock %} 