{% extends "App/index.html" %}
{% load static %}

{% block tituloPagina %}
Delete
{% endblock %} 

{% block contenido_que_cambia %}
<section class="bg-light py-2">
    <div class="container px-1">
        <div class="row gx-1 justify-content-center">
    <div style="background-color: rgba(250, 252, 243, 0.712);">
        <h3 figure class="text-center">Delete new products</h3>

        <body> 
            <form method="post">{% csrf_token %}
                Are you sure you want to delete?
                    <input type="submit" value="Confirm"/>
                    <a href="{%  url 'Nuevos_Productos' %}">                        
                        <button type="button" class="btn btn-outline-secondary btn-sm">No, back to list</button>
            </form>
        
        
        </body>    



{% endblock %}
